<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<table border="1">
	<tr>
		<td><%= @grid.pos00 %></td>
		<td><%= @grid.pos01 %></td>
		<td><%= @grid.pos02 %></td>
	<tr>
	<tr>
		<td><%= @grid.pos10 %></td>
		<td><%= @grid.pos11 %></td>
		<td><%= @grid.pos12 %></td>
	<tr>
	<tr>
		<td><%= @grid.pos20 %></td>
		<td><%= @grid.pos21 %></td>
		<td><%= @grid.pos22 %></td>
	<tr>
</table>