<p id="notice"><%= notice %></p>

<p>
  <b>Pos00:</b>
  <%= @automaton.pos00 %>
</p>

<p>
  <b>Pos01:</b>
  <%= @automaton.pos01 %>
</p>

<p>
  <b>Pos02:</b>
  <%= @automaton.pos02 %>
</p>

<p>
  <b>Pos10:</b>
  <%= @automaton.pos10 %>
</p>

<p>
  <b>Pos11:</b>
  <%= @automaton.pos11 %>
</p>

<p>
  <b>Pos12:</b>
  <%= @automaton.pos12 %>
</p>

<p>
  <b>Pos20:</b>
  <%= @automaton.pos20 %>
</p>

<p>
  <b>Pos21:</b>
  <%= @automaton.pos21 %>
</p>

<p>
  <b>Pos22:</b>
  <%= @automaton.pos22 %>
</p>


<%= link_to 'Edit', edit_automaton_path(@automaton) %> |
<%= link_to 'Back', automatons_path %>
